{% extends 'base.html' %}
{% block title %}
    Chats
{% endblock title %}
{% block body %}
    <h3>Chat History</h3><br>
    <p id="chat-history"></p>
    <form id="send-message" method="post">
        {% csrf_token %}
        <input type="hidden" id="user_id" name="user_id" value= {{ user_id }} ><br>
        <label for="msglable">Message</label><br>
        <input type="text" id="message" name="message"><br>
        <input type="submit" value="Send">
    </form>
    <div>
{% endblock %}
{% block js %}

    {% load static %}
    <script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/one_to_one_chat.js' %}"></script>
{%  endblock %}