<!DOCTYPE html>
<html>
<head>
  <title>Interactify | {%block title%}{% endblock %}</title>

{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/feed/">Interactify</a>
      </div>
        {% block navlinks %}

              <ul class="nav navbar-nav navbar-right">

                <li><input type="submit" value="Notification" onclick="toggle()"></li>
                <li><a href="/feed/">Home</a></li>
                <li><a id="logout" href="/logout/">Logout</a></li>
              </ul>
        {% endblock %}
    </div>
  </nav>
  <!-- ./nav -->
<div id="notificationDiv" style="display: none">
    {# <p id="notification-div">hello</p> #}
</div>
  <script>
  function toggle(e) {
    let element = document.getElementById("notificationDiv");

    if ( element.style.display === "none") {
       element.style.display="block";
    } else {
       element.style.display="none";
    }
  }
</script>
  <!-- main -->
 {% block body %}
  {% endblock %}
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <li>Interactify - Made by Hitesh Dureja</li>
    </ul>
  </footer>
  <!-- ./footer -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/communication.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/one_to_one_chat.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>