{% extends "base.html" %}
{% block title %}
    News Feed
{% endblock title %}
  <!-- ./nav -->
{% block body %}
  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
              {% for user in users %}
                <a href="/chat/{{ user.user_id }}">{{ user.user_id }}</a><br>
              {% endfor %}

          </div>
        </div>
        <!-- ./profile brief -->


      </div>
      <div class="col-md-6">
        <!-- post form -->
        <form id="send_feed" name="send_feed" method="post" action="{% url 'feed' %}">
          {% csrf_token %}
          <div class="input-group">
              <input class="user_id" type="hidden" name="user_id" id="user_id" value={{ user_id }}>
              <input class="form-control" type="text" name="feed_text" id="feed_text" placeholder="Make a post...">
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
        <!-- feed -->
        <div>
          <!-- post -->
            {% for post in feed %}
          <div class="panel panel-default" name={{ post.feed_id }}>


            <div class="panel-body">
              <p>{{ post.feed_text }}</p>
            </div>
            <div class="panel-footer">
              <span> posted at {{ post.created_at }} by {{ post.user_id.user_id }} </span>
              <span class="pull-right">
                  <form action="likes/">
                      <input type="hidden" id="feed_id" name="feed_id" value={{ post.feed_id }}>
                      <input type="submit" name="like" id="like" value="Like" >
                  </form>
              </span>
            </div>
          </div>
            {% endfor %}
          <!-- ./post -->
        </div>
        <!-- ./feed -->
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </main>
  <!-- ./main -->
{% endblock %}1

{% block js %}
{% load static %}
    <script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
{%  endblock %}