{% extends "base.html" %}
{% block title %}
    News Feed
{% endblock title %}
  <!-- ./nav -->
{% block body %}
  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- profile brief -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>nicholaskajoh</h4>
            <p>I love to code!</p>
          </div>
        </div>
        <!-- ./profile brief -->


      </div>
      <div class="col-md-6">
        <!-- post form -->
        <form method="post" action="/feed/">
          {% csrf_token %}
          <div class="input-group">
              <input class="user_id" type="hidden" name="user_id" value={{ user_id }}>
              <input class="form-control" type="text" name="feed_text" placeholder="Make a post...">
              <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
        <!-- feed -->
        <div>
          <!-- post -->
            {% for post in feed %}
          <div class="panel panel-default">
            <div class="panel-body">
              <p>{{ post.feed_text }}</p>
            </div>
            <div class="panel-footer">
              <span> posted at {{ post.created_at }} by {{ post.user_id.user_id }} </span>
              <span class="pull-right"><a class="text-danger" href="#">[Like]</a></span>
            </div>
          </div>
            {% endfor %}
          <!-- ./post -->
        </div>
        <!-- ./feed -->
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </main>
  <!-- ./main -->
{% endblock %}